body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: cornsilk;
}

main {
  display: flex;
  flex-grow: 10;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: -5ch;
  margin-top: -4ch;
}

h1 {
  display: flex;
  margin-bottom: -1ch;
  flex-wrap: wrap;
}

p {
  display: flex;
  font-size: large;
  flex-wrap: wrap;
}

.brand {
  color: firebrick;
  font-weight: bold;
  font-size: xx-large;
  flex-wrap: wrap;
}

.menu {
  display: flex;
  align-self: center;
  font-size: large;
  font-variant: small-caps;
  font-size: larger;
  gap: 2ch;
  flex-wrap: wrap;
}

a:link {
  text-decoration: none;
  color: black;
}

.option-link {
  display: flex;
  flex-flow: column;
  gap: 1ch;
  list-style: none;
  margin-left: -5ch;
  margin-right: 5ch;
  width: 90%;
  margin-top: 3ch;
  color: aliceblue;
}

.food {
  align-content: flex-start;
  background-color: firebrick;
  padding: 1ch;
  border-radius: 0.8ch;
  cursor: pointer;
}

.testimonial {
  background-color: gainsboro;
  font-style: italic;
  display: flex;
  flex-direction: column;
  border-radius: 1ch;
  margin-left: inherit;
  margin-right: inherit;
}

.signature {
  margin-left: 4ch;
  margin-top: -1ch;
  margin-bottom: 2ch;
}

.social-call {
  background-color: black;
  color: aliceblue;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 2ch;
  margin-left: -1ch;
  margin-right: -1ch;
  width: 100%;
  position: fixed;
  bottom: 0;
}
